<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">All the tools you need</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Site services are not limited to bots</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row justify-content-center">
            <div class="col-lg-7 mt-4">
                <div class="tiny-single-item">
                    <div class="tiny-slide">
                        <div class="card border-0 text-center client-bar m-2">
                            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
                                <i class="mdi icons text-primary"></i>
                                <p class="text-muted mb-0">Smart and optimized algorithm for each bot will make trading as profitable as possible</p>
                            </div>
                            <h6 class="text-primary mt-2 mb-0">Smart Trade</h6>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="card border-0 text-center client-bar m-2">
                            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
                                <i class="mdi icons text-primary"></i>
                                <p class="text-muted mb-0">Many built-in indicators for market analysis will turn complex analysis processes into an exciting game.</p>
                            </div>
                            <h6 class="text-primary mt-2 mb-0">TradingView</h6>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="card border-0 text-center client-bar m-2">
                            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
                                <i class="mdi icons text-primary"></i>
                                <p class="text-muted mb-0">The system works only with the most reliable trading platforms.</p>
                            </div>
                            <h6 class="text-primary mt-2 mb-0">Exchanges</h6>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="card border-0 text-center client-bar m-2">
                            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
                                <i class="mdi icons text-primary"></i>
                                <p class="text-muted mb-0">Manage multiple investment portfolios and accounts through one interface.</p>
                            </div>
                            <h6 class="text-primary mt-2 mb-0">Enterprise</h6>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="card border-0 text-center client-bar m-2">
                            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
                                <i class="mdi icons text-primary"></i>
                                <p class="text-muted mb-0">Profitable trading with a scalping strategy.</p>
                            </div>
                            <h6 class="text-primary mt-2 mb-0">Trading terminal</h6>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="card border-0 text-center client-bar m-2">
                            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
                                <i class="mdi icons text-primary"></i>
                                <p class="text-muted mb-0">Smooth functioning 24/7 does everything possible to increase your assets at any time.</p>
                            </div>
                            <h6 class="text-primary mt-2 mb-0">State of the system</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <div class="container mt-100 mt-60">
        <div class="row align-items-center mb-4 pb-2">
            <div class="col-md-6">
                <div class="section-title">
                    <h4 class="titl e mb-md-0 mb-4">Frequently asked <br> questions</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-title">
                    <p class="text-muted para-desc mb-0"></p>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .FAQ }}
            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="d-flex">
                    <i data-feather="help-circle" class="fea icon-ex-md text-primary me-2 mt-1"></i>
                    <div class="flex-1">
                        <h5 class="mt-0">{{.Question}}</h5>
                        <p class="answer text-muted mb-0">{{.Answer}}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <!--end row-->
        <div class="row mt-5 pt-4 justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title mb-3">Have Question ? Get in touch!</h4>
                    <p class="text-muted para-desc mx-auto">Create, collaborate, and turn your ideas into incredible products with the definitive platform for digital design.</p>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4"><i class="mdi mdi-phone"></i> Contact us</a>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->