{{define "FAQsElements"}}
<!-- Start Может таки в статик оставить? 2 разных ряда в одно надо согласовывать, сомневаюсь что функционал способен -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-12 d-none d-md-block">
                <div class="rounded-pill shadow p-4 component-wrapper">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-4"><a href="#tech" class="mouse-down h6 text-dark">Technical Questions</a></li>
                        <li class="mb-4"><a href="#general" class="mouse-down h6 text-dark">General Questions</a></li>
                        <li><a href="#payment" class="mouse-down h6 text-dark">Payments Questions</a></li>
                    </ul>
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-7 col-12">

                <div class="section-title mt-5" id="general">
                    <h4>General Questions</h4>
                </div>

                <div class="accordion mt-4 pt-2" id="accordionExample">
                    <div class="accordion-item rounded shadow bg-white">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button border-0 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                What is Dedicated Server?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
{{end}}