{{define "HomeBlock"}}
<section class="bg-half-260 d-table w-100 bg-primary" style="background: url('./assets/images/bg/bg-new.jpg') top center;" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h4 class="heading text-white title-dark mb-3">Automate your trading</h4>
                    <p class="text-white para-desc mx-auto mb-0">The best way to make a profit regardless of the market situation</p>
                    <div class="mt-4">
                        <a href="#productbricks" class="btn btn-primary mx-1">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}