{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
{{template "Head" .}}
<body>
	{{template "Header" .}}

	{{if eq .NameTemp "dca"}}
		{{template "Bot" .}}
	{{end}}

	{{if eq .NameTemp "grid"}}
		{{template "Bot" .}}
	{{end}}

	{{if eq .NameTemp "hold"}}
		{{template "Bot" .}}
	{{end}}

	{{if eq .NameTemp "home"}}
		{{template "Home" .}}
	{{end}}

	{{if eq .NameTemp "cart"}}
		{{template "CartBlock" .}}
	{{end}}


	{{if eq .NameTemp "education"}}
		{{template "PageEducation" .}}
	{{end}}

	{{if eq .NameTemp "faqpage"}}
		{{template "FAQPAGE" .}}
	{{end}}

	{{if eq .NameTemp "privacy"}}
		{{template "Privacy" .}}
	{{end}}

	{{if eq .NameTemp "terms"}}
		{{template "Terms" .}}

	{{end}}	{{if eq .NameTemp "contact"}}
		{{template "Contact" .}}
	{{end}}



	
	{{template "Footer" .}}
</body>

</html>
{{end}}