{{define "PageEducation"}}
<!-- Home Start -->
<section class="bg-half-170 d-table w-100 bg-primary" id="home">
    <!-- <div class="bg-overlay"></div> -->
    <div class="container">
        <div class="row mt-5 align-items-center position-relative" style="z-index: 1;">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="title-heading text-center text-md-start">
                    <h4 class="heading text-white title-dark mb-3">Education <br> Will come soon!</h4>
                    <p class="text-white-50 para-desc mb-0">This page is still under development. Subscribe to the newsletter to be the first to know about the launch of the Training!</p>
                    <div class="mt-4">
                        <a href="https://eterinte.com/" class="btn btn-danger">Home Page</a>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="./assets/images/reseller.svg" class="img-fluid" alt="">
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
    <div class="shape integration-hero overflow-hidden text-light"></div>
</div>
<!-- Home End -->
{{end}}