{{define "Privacy"}}
<!-- Home Start -->
<section class="bg-half-170 d-table w-100 bg-light d-print-none" style="background: url('/assets/images/bg/page.png') top center;" id="home">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="title-heading text-center text-md-start">
                    <h3>Privacy Policy</h3>
                    <p class="text-muted para-desc mt-3 mb-0">Information about privacy policy</p>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-4">
                        <ul class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="eterinte.com">Eterinte</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Company</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 1000 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- Home End -->
<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-12 d-none d-md-block">
                <div class="rounded-pill shadow p-4 component-wrapper">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-4"><a href="#intro" class="mouse-down h6 text-dark">Introduction</a></li>
                        <li class="mb-4"><a href="#info" class="mouse-down h6 text-dark">Information</a></li>
                        <li class="mb-4"><a href="#control" class="mouse-down h6 text-dark">Privacy Control</a></li>
                        <li class="mb-4"><a href="#activity" class="mouse-down h6 text-dark">Your Activity</a></li>
                        <li><a href="#question" class="mouse-down h6 text-dark">Questions</a></li>
                    </ul>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-8 col-md-7 col-12">
                <div class="section-title" id="intro">
                    <h4><i class="mdi mdi-18px mdi-arrow-right"></i> Introduction</h4>
                    <p class="text-muted mt-4">Eterinte is fully user-oriented and designed to facilitate cryptocurrency trading! </p>
                    <p class="text-muted">We, the creators of the Eterinte were uncomfortable constantly monitoring our positions. It was challenging to assess the situation in the market. This platform is created through the efforts of the team — both for ourselves and you. </p>
                    <p class="text-muted mb-0">We assure you that it is easy and profitable to trade with bots!</p>
                </div>
                <div class="section-title mt-4 pt-2" id="info">
                    <h4><i class="mdi mdi-18px mdi-arrow-right"></i> Information</h4>
                    <p class="text-muted mt-4">Eterinte develops automation systems, software, smart algorithms, encryption and protection of user data, and customer service.</p>
                </div>
                <div class="section-title mt-4 pt-2" id="control">
                    <h4><i class="mdi mdi-18px mdi-arrow-right"></i> Privacy Control</h4>
                    <p class="text-muted mt-4">Your data is securely encrypted and protected by our company. </p>
                    <p class="text-muted">However, we are not responsible for any loss of funds due to the careless actions of a user. </p>
                </div>
                <div class="section-title mt-4 pt-2" id="activity">
                    <h4><i class="mdi mdi-18px mdi-arrow-right"></i> Your Activity</h4>
                    <p class="text-muted mt-4">We have everything you need to take a breather watching the profit charts increase.</p>
                    <ul class="list-unstyled text-muted mb-0 ms-4">
                        <li><i class="mdi mdi-arrow-right text-primary me-1"></i>Get a customized subscription</li>
                        <li><i class="mdi mdi-arrow-right text-primary me-1"></i>Configure bots in your account</li>
                        <li><i class="mdi mdi-arrow-right text-primary me-1"></i>Enjoy the profit!</li>
                    </ul>
                </div>
                <div class="section-title mt-4 pt-2" id="question">
                    <h4><i class="mdi mdi-18px mdi-arrow-right"></i> Frequently Asked Questions</h4>
                </div>
                <div class="accordion mt-4 pt-2" id="accordionExampletwo">
                    <div class="accordion-item rounded shadow bg-white">
                        <h2 class="accordion-header" id="headingfiveo">
                            <button class="accordion-button border-0 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefiveo" aria-expanded="true" aria-controls="collapsefiveo">
                                How does our Eterinte work ?
                            </button>
                        </h2>
                        <div id="collapsefiveo" class="accordion-collapse border-0 collapse show" aria-labelledby="headingfiveo" data-bs-parent="#accordionExampletwo">
                            <div class="accordion-body">
                                We create and update automated systems to meet user needs so that everyone can keep up with the rapid development of the technology and finance market.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded shadow bg-white mt-2">
                        <h2 class="accordion-header" id="headingsix">
                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                Is it hard to start using bots ?
                            </button>
                        </h2>
                        <div id="collapsesix" class="accordion-collapse border-0 collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExampletwo">
                            <div class="accordion-body">
                                Thanks to an easy setup and user-friendly interface, even a beginner trader can successfully run bots!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded shadow bg-white mt-2">
                        <h2 class="accordion-header" id="headingseven">
                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                What does Bot Cluster mean ?
                            </button>
                        </h2>
                        <div id="collapseseven" class="accordion-collapse border-0 collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExampletwo">
                            <div class="accordion-body">
                                Cluster bots are a beneficial solution for those who want everything at once! Each bot performs its function.
                                And what if they can work together? Yes, that is what we did! Thanks to the cluster, bots can work complementing each other.
                                When they work at the same time you get the maximum income and the best result!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded shadow bg-white mt-2">
                        <h2 class="accordion-header" id="headingeight">
                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                Is Eterinte safer to use with my account ?
                            </button>
                        </h2>
                        <div id="collapseeight" class="accordion-collapse border-0 collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExampletwo">
                            <div class="accordion-body">
                                High-quality data encryption, protection of servers from attacks, and complete privacy and secrecy — guarantee the security of your activities!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded shadow bg-white mt-2">
                        <h2 class="accordion-header" id="headingnine">
                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                How can I contact a technical team ?
                            </button>
                        </h2>
                        <div id="collapsenine" class="accordion-collapse border-0 collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExampletwo">
                            <div class="accordion-body">
                                On the Contacts page, you can find all the necessary information.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pt-2">
                    <a href="javascript:window.print()" class="btn btn-primary d-print-none">Print</a>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Start -->
{{end}}