{{define "ServicesBlock"}}
<section class="section">
    {{template "Tools" .}}
    {{template "AdvantageLine" .}}
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="me-lg-5">
                    <img src="assets/images/features/1.png" class="img-fluid" alt="">
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="ms-lg-5">
                    <div class="d-flex services serv-primary rounded align-items-center p-4 bg-light position-relative overflow-hidden">
                        <span class="h1 icon2 text-primary">
                            <i class="uil uil-swatchbook"></i>
                        </span>
                        <div class="flex-1 content ms-3">
                            <h5>Enhance Security</h5>
                            <p class="para text-muted mb-0">Improved security will allow you to store your assets without any fear! With the help of modern technologies, we have improved the protection of personal data and financial assets.</p>
                        </div>
                        <div class="big-icon">
                            <i class="uil uil-swatchbook"></i>
                        </div>
                    </div>
                    <div class="d-flex services serv-primary rounded align-items-center p-4 bg-light mt-4 position-relative overflow-hidden">
                        <span class="h1 icon2 text-primary">
                            <i class="uil uil-tachometer-fast-alt"></i>
                        </span>
                        <div class="flex-1 content ms-3">
                            <h5>High Performance</h5>
                            <p class="para text-muted mb-0">High performance allows bots to work as quickly as possible without interruption!</p>
                        </div>
                        <div class="big-icon">
                            <i class="uil uil-tachometer-fast-alt"></i>
                        </div>
                    </div>
                    <div class="d-flex services serv-primary rounded align-items-center p-4 bg-light mt-4 position-relative overflow-hidden">
                        <span class="h1 icon2 text-primary">
                            <i class="uil uil-user-check"></i>
                        </span>
                        <div class="flex-1 content ms-3">
                            <h5>Unbeatable Support</h5>
                            <p class="para text-muted mb-0">Our experts are always ready to answer any of your questions to help you.</p>
                        </div>
                        <div class="big-icon">
                            <i class="uil uil-user-check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
                <div class="ms-lg-5">
                    <img src="assets/images/features/2.png" class="img-fluid" alt="">
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-3">Quick Response <br> and Protection from losses</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We guarantee a fast response to the system and 24/7 seamless operation! The system instantly reacts to any changes.
                        It allows you to prevent loss of profit by avoiding delays in trading.
                    </p>
                    <ul class="list-unstyled text-muted mt-3">
                        <li class="my-2"><i data-feather="check-circle" class="fea icon-ex-md text-primary me-2"></i>Digital Solutions for Tomorrow</li>
                        <li class="my-2"><i data-feather="check-circle" class="fea icon-ex-md text-primary me-2"></i>Our Talented & Experienced Team</li>
                        <li class="my-2"><i data-feather="check-circle" class="fea icon-ex-md text-primary me-2"></i>Best hardware for your peace of mind</li>
                    </ul>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
{{end}}