{{define "Head"}}

	<head>
    <meta charset="utf-8" />
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="./css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="./css/colors/default.css" rel="stylesheet" id="color-opt">
</head>

{{end}}